@font-face {
    font-family: 'gagalinregular';
    src: url('./../fonts/gagalin-regular-webfont.woff2') format('woff2'),
         url('./../fonts/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lifehackmedium';
    src: url('./../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('./../fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ubuntubold';
    src: url('./fonts/ubuntu-b-webfont.woff2') format('woff2'),
         url('./fonts/ubuntu-b-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight';
    src: url('./../fonts/ubuntu-light-webfont.woff2') format('woff2'),
         url('./../fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium';
    src: url('./../fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('./../fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('./../fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('./../fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
