.hamburger {
    opacity: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    display: flex;
    align-items: center;
}

.navigation__item {
    display: flex;
    align-items: center;
    &:last-child {
        &:after {
            display: none;
        }
    }

    &:after {
        content: "";
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background: #fff;
        display: inline-block;
        margin: 0 10px;
    }
}

.navigation__link {
    font-family: 'ubuntumedium';
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

.header__buttons {
    display: flex;
    align-items: center;
}


